
/* fast */
.fast {
    background: #f9f9f7; 
  }
  .fast_in{
    padding: 40px;
  }

  .fast_img-sm img{
    width: 250px;
    height: 240px;
    border-radius: 20px;
    padding-left: 35px;
  }
  .fast_img-big img{
    width: 370px;
    height: 600px; 
    border-radius: 20px;
  }
  .fast_left {
    width: 50%;
  }
  
  .fast_right {
    width: 50%;
    padding-left: 90px;
    align-self: center;
  }
  
  .fast_img-big {
    width: 58%;
  }
  
  .fast_img-sm {
    width: 42%;
    padding: 30px 0 0 24px;
  }
  
  .fast_img:first-child {
    margin-bottom: 24px;
  }
  
  .fast .sec_sub-tit {
    margin-bottom: 20px;
  }
  
  .fast_txt {
    color: #414536;
    font-size: 16px;
    /* 150% */
    margin-bottom: 50px;
  }
  
  .fast_icon {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .fast_icon i {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  
  .fast_icon span {
    padding-left: 20px;
    color: #2c2f24;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    /* 130% */
  }
  .fast_in{
    display: flex;
  }
  .fast_icon{
    display: flex;
  }
  .fast_left{
    display: flex;
  }

  
@media  screen and (max-width: 1100px) {
 
    .fast_img-big img {
      width: 290px;
      height: 500px;
    }
  
    .fast_img-sm img {
      width: 186px;
      height: 199px;
    }
  
    .sec_sub-tit {
      font-size: 22px;
    }
    .fast_txt{
        font-size: 13px;
    }
    .fast_img-sm img {
        width: 228px;
        height: 235px;
        border-radius: 20px;
    }
    .fast_img-big img {
        width: 326px;
        height: 550px;
        border-radius: 20px;
    }   
  }
  @media  screen and (max-width: 900px){

    .fast_img-big img {
        width: 240px;
        height: 450px;
      }
    
      .fast_img-sm img {
        width: 157px;
        padding-left: 35px;
       border-radius: 20px;
        height: 193px;
    }
      .sec_sub-tit {
        font-size: 22px;
      }
      .fast_txt{
          font-size: 11px;
      }

  }
  @media  screen and (max-width: 600px){
    .fast_img-big img {
        width: 196px;
        height: 363px;
    }
    
    .fast_img-sm img {
        width: 95px;
        padding-left: 39px;
        border-radius: 20px;
        height: 144px;
    }
      .sec_sub-tit {
        font-size: 12px;
        width: 170px;
        padding-left: 27px;
      }
       .fast_txt {
        font-size: 8px;
        width: 190px;
        padding-left: 27px;
    }
      .fast_in {
       padding: 0 0 0 0 ;
    }
    .fast_right {
        /* width: 50%; */
        padding-left: 34px;
        align-self: center;
    }
  }
  
  @media  screen and (max-width: 750px){
    .fast_img-big img {
        width: 196px;
        height: 363px;
    }
    
    .fast_img-sm img {
        width: 95px;
        padding-left: 39px;
        border-radius: 20px;
        height: 144px;
    }
      .sec_sub-tit {
        font-size: 12px;
        width: 170px;
        padding-left: 27px;
      }
       .fast_txt {
        font-size: 8px;
        width: 190px;
        padding-left: 27px;
    }
      .fast_in {
       padding: 0 0 0 0 ;
    }
    .fast_right {
        /* width: 50%; */
        padding-left: 34px;
        align-self: center;
    }
  }