.CartList {
  display: flex;
  flex-direction: row; /* Изменение направления на горизонтальное */
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cartItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Delivery-photos {

  align-items: center; /* Выравнивание изображения по вертикали */
}

.cartItem {
  width: 660px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cartItem img {
  width: 155px;
  height: 151px;
  border-radius: 8px;
  object-fit: cover;
}
.itemDetails a {
  padding: 30px;
  font-size: 40px;
  color: #27490bab;
  text-decoration: none;
}

.itemDetails > * {
  font-size: 35px;
}

.inputs {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.inputs input {
  width: 50px;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 3px;
  padding: 5px;
  font-size: 24px;
}

.quantityButton {
  background-color: #27490bab;
  color: white;
  border: none;
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
}

.quantityButton:hover {
  background-color: #27490bab;
}

.emptyCartMessage {
  font-size: 18px;
  color: gray;
  text-align: center;
}

.removeButton {
  background-color: #831c1c;
  color: white;
  border: none;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.removeButton:hover {
  background-color: #cc0000;
}
h1{
  padding-bottom: 20px;
  text-align: center;
}
.itemDetails{
  padding-left: 35px;
}
.order1-photos img{
  width: 740px;
  height: 600px;

}
.cartItemsContainer p{
  color: rgb(26, 21, 21);
  font-weight: 700;
  font-size: 20px;
}

@media only screen and (max-width: 990px) {
  .CartList {
    flex-direction: column;
    align-items: center;
  }

  .cartItemsContainer {
    width: 100%;
  }

  .cartItem {
    width: 100%;
  }

  .itemDetails {
    padding-left: 0;
    text-align: center;
  }

  .order1-photos img {
    width: 100%;
    height: auto;
  }
}
