.AddToCart button {
  padding: 10px 10px;
  margin-right: 5px;
  background-color:  #27490bab;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
  transition: all 100ms linear;
}
.AddToCart button:hover {
  background-color:  #000000ab;
}
.AddToCart {
  padding: 10px 0 10px;
}
