.Layout {

  grid-template-areas: "header header"
  "aside main"
  "footer footer";
  grid-template-columns: 1fr 6fr;
  
  max-width: 93%;
  margin: 0 auto;
}
.Layout header {
  grid-area: header;
}
.Layout aside {
 

}
.Layout main {
  grid-area: main;
}
.Layout footer {
  grid-area: footer;
}
