/* styles.css */

/* Стили для кнопок увеличения и уменьшения количества товара */
.Product button {
    background-color: #27490bab;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .Product button:hover {
    background-color: #27490bab;
  }
  
  /* Стили для элемента, отображающего количество товара */
  .Product .quantity {
    font-size: 20px;
    margin: 0 10px;
  }
  .Category{
    width: 1315px;
  padding-left: 70px; }

  p strong{
    color: #27490bab;
    font-size: 30px;
  }
  .pr_name{
    font-size: 40px;
    color: #27490bab;
    font-weight: 700;
  }
  .price {
    padding: 0 0 10px 10px;
    /* padding-top: 2px; */
    font-size: 28px;
    color: #625050;
}
.pr{
  display: flex;
}
.description{
  padding: 8px 0 10px 10px;
    /* padding-top: 2px; */
    font-size: 18px;
    color: #625050;
}
.name_pr{
  padding-top: 50px;
}