.DiscountProd{
  margin-top: 20px;
  width: 125px;
  font-size: 13px;
}
.DiscountProd img {
  width: 125px;
}
.DiscountProd .dashed {
  text-decoration: line-through;
  font-size: 20px;
  color:  #27490bab;
  margin-left: 3px;
}
.DiscountProd .newPrice {
  font-size: 25px;
  color:  #27490bab;
}
.DiscountProd .product {
  position: relative;
}
.DiscountProd .discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #27490bab;
  color: white;
  padding: 1px 3px;
  z-index: 2;
  font-size: 10px;
}
.DiscountProd h3 {
  color: blue;
}
.DiscountProd .product:hover img {
  filter: opacity(80%);
}
@media (max-width:580px) {
  .DiscountProd {
    display: none;
  }
}