.CategoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  justify-content: space-around;
}

.CategoryList .card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: calc(33.33% - 20px);
  /* Подстраивайте под нужную ширину карточек */
  margin-bottom: 20px;
  margin-right: 15px;

}

.CategoryList .card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.CategoryList .card-content {
  padding: 9px;
}

.CategoryList .card-title {
  margin: 0;
  font-size: 18px;
  width: 120px;
  color: #27490bab;
}

.dropdownContent {
  display: flex;
}

.CategoryList li {
  list-style-type: none;
}

.CategoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.CategoryList .card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: calc(33.33% - 20px);
  /* Подстраивайте под нужную ширину карточек */
  margin-bottom: 20px;
}

.CategoryList .card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.CategoryList .card-content {
  padding: 16px;
}

.CategoryList .card-title {
  margin: 0;
  font-size: 18px;
  text-align: center;
  text-decoration: none;

}


.CategoryList .category-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media  screen and (max-width: 1200px) {
  .CategoryList .card {
    width: calc(50% - 20px);
    margin-right: 0;
  }

  .CategoryList .card-title {
    width: 100%;
    text-align: center;
  }

  .dropdownContent {

    display: flex;
  }

  .CategoryList .card-content {
    padding: 9px;
  }

  .fast_img-big img {
    width: 290px;
    height: 500px;
  }

  .fast_img-sm img {
    width: 186px;
    height: 199px;
  }

  .sec_sub-tit {
    font-size: 22px;
  }
}
@media  screen and (max-width: 600px){
  .dropdownContent {
    display: flex;
    flex-wrap: wrap;
}
}