@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
body {
  margin: 0;
  

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  overflow-y: scroll;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
  padding: 0 15px;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Product {
  display: flex;
}
.Product img {
  margin-right: 20px;
  max-width: 500px;
}
.Contacts i {
  color: #555555;
  margin-right: 8px;
}
.Cart .order {
  background-color: #27490bab;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
  margin-top: 15px;
}
.Cart .order:hover {
  background-color: #27490bab;
  ;
  
}
.Category h2 {
  margin-left: 10px;
}
@media (max-width:720px) {
  .Product {
    display: flex;
    flex-direction: column;
  }
  .NotFound img {
    width: 200px;
  }
}.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
